*{padding:0;margin:0;list-style:none;color:white;
font-size:55px;text-align:center;}
.container{
	width:1080px;background:yellow;margin:0 auto;
	padding:5px;
}
.header{
	background:crimson;margin-bottom:10px;
}
.navbar{
	background:teal;margin-bottom:10px;
}
.main{
	width:800px;height:400px;float:left
	background:green;margin-bottom:10px;
}
.sidebar{
	width:250px;height:400px;float:right;
	background:orange;margin-bottom:10px;
}
.footer{
	background:violet;
}

/* for smartphone*/
@media(max-width:767px){
	.container{width:100%}
	.main{float:none;width:100%}
	.sidebar{float:none;width:100%}
}

/* for normal sized screens and tablets*/
@media(max-width:1199px) and (min-width:768px){
	.container{width:100%}
	.main{width:75%}
	.sidebar{width:21%}
}
